<% content_for :title, "Editing customer" %>

<h1>Editing customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Show this customer", @customer, class: "block text-blue-600 hover:text-blue-800 underline" %>
  <%= link_to "Back to customers", customers_path, class: "block text-blue-600 hover:text-blue-800 underline" %>
</div>
