<% content_for :title, "New customer" %>

<h1 class="text-5xl font-bold text-blue-700 mb-4">New customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Back to customers", customers_path, class: "text-blue-600 hover:text-blue-800 underline" %>
</div>
